<h1>List of Posts</h1>
<table>
  <tr>
    <th>Post Title </th>
    <th>Post Text </th>    
  </tr>
 <% @posts.each do |post| %>
  <tr>
    <td><%= post.title%></td>        
    <td><%=post.text %></td><td>         
  </tr>
  <% end %>
 </table>