<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Poster</title>
=======
    <title>AppName</title>
>>>>>>> 2016ca9769d299d7f3267dd7bdb8c6230cafbbaf
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
